body {
    background-color: #BA8A9B;
}

.hero {
    /* 1x2 grid justify content */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text image";

    /* center */
    justify-content: center;
    
    /* align to the top */
    align-items: flex-start;


    /* add padding to the right and left */
    padding: 0 10% 0 10%;


}

.hero>div.text {
    /* 3x1 grid */
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "subtitle" "button";
    justify-content: center;
    align-items: center;
    max-width: 550px;

}

.hero>div.image {
   /* align center of current grid  */
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;

    /* set the max width */
    max-width: 550px;

}

/* make image dissapear when resolution is too small */
@media (max-width: 1440px) {
    .hero>div.image {
        display: none;
    }
}

.second-section {

}

.counter-section {
    /*  make a flexbox going vertical */
    display: flex;
    flex-direction: column;
}

.counter-section>div.counter {
    /* make a 1x2 grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "number text";


}

.counter-section

.third-section {

}

.pricing {

}