body {
    background-color: #BA8A9B;
}

.hero {
    /* 1x2 grid justify content */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text image";

    /* center */
    justify-content: center;
    align-items: center;


}

.hero>div.text {
    /* 3x1 grid */
    grid-area: text;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "subtitle" "button";
    justify-content: center;
    align-items: center;
    max-width: 550px;

}

.hero>div.image {
   /* align center of current grid  */
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;

}

.second-section {

}

.third-section {

}

.pricing {

}