header {
    /* 1x3 grid evenly spaced  */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo nav login";
    /* 1x3 grid evenly spaced  */

    /* add some padding to the bottom to create some space */
    padding-bottom: 5%;
}

/* make max width of header logo image to 220 */
header>div.logo>img {
    max-width: 215px;
}

header>div>a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;

    font-family: 'Klima';
    font-weight: 550;
    font-size: 18px;
    line-height: 21px;
    min-width: 120px;
    /* identical to box height */


    color: #373737;
}

header>div>a:hover {
    color: white !important;

    /* fade transition */
    transition: background-color 0.5s ease;

}

header>div.links {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div.login {
    grid-area: login;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* make login section a hamburger menu for smaller screens */
@media (max-width: 768px) {

    /*todo: make new grid for header*/

    header>div.login {
        display: none;
    }

    header>div.links {
        display: none;
    }

    header>div.hamburger {
        grid-area: login;
        display: flex;
        justify-content: right;
        align-items: center;
    }
}

a {
    text-decoration: none;
    color: black;
}

a.purple {
    /* override */
    color: #EF3983 !important;

}

a.bold {
    color: black;
    font-weight: 700 !important;
}

h1 {
    font-family: 'Klima';
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    /* identical to box height */


    color: #373737;
}

h2 {
    font-family: 'Klima';
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.03em;

    color: #000000;
}

/* shrink sizes of h1 and h2 with screen size */
@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
        line-height: 34px;
    }

    h2 {
        font-size: 20px;
        line-height: 24px;
    }
}

button {
    background-color: #F36F69;
    border-radius: 5px;

    font-family: 'Klima';
    font-weight: 700;
    font-size: .9rem;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;

    /* remove border line */
    border: none;

    /* padding */
    padding: 10px 20px;

    /* set dynamic width and height */
    width: fit-content;
    height: fit-content;
}

button:hover {
    background-color: #EF3983;
    cursor: pointer;
}

/* button click */
button:active {
    background-color: black; /* todo: */
}


/* Fonts */
@font-face {
    font-family: 'Klima';
    src: local('Klima'), url('../assets/fonts/klima-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Klima';
    src: local('Klima'), url('../assets/fonts/klima-bold.otf') format('opentype');
    font-weight: bold;
}